
<%= form_for (@requisition) do |f| %>
 <table>
 	<tr>
 		<td>
			<%=f.label :name %>
		</td>
		<td>
			<%= f.select(:name, realasset_for_select, :prompt => 'Select') %>
			<%= link_to "Add asset.." , realassets_new_path %>
	    </td>
	</tr>
	<tr>
		<td>
			<%=f.label :paticular %>
		</td>
		<td>
			<%=f.text_field :particular %>
		</td>	
	</tr>
	<tr>
		<td>
			<%=f.label :unit %>
		</td>
		<td>
			<%=f.text_field :unit %>
		</td>	
	</tr>
	<tr>
		<td>
			<%=f.label :quantity %>
		</td>
		<td>
			<%=f.text_field :quantity %>
		</td>	
	</tr>
	<% if emp_signed_in? %>
	<tr>
		<td>
			<%=f.label :from %>
		</td>
		<td>
			<%=f.text_field :from , :value => "#{current_emp.username.capitalize}" , :readonly => :true %>
		</td>	
	</tr>
	<% elsif authorize_signed_in? %>
	<tr>
		<td>
			<%=f.label :from %>
		</td>
		<td>
			<%=f.text_field :from , :value => "#{current_authorize.username.capitalize}" , :readonly => :true %>
		</td>	
	</tr>
	<% else %>
	Unable to add requisition <% end %>
</table>
  <%= f.submit "save"  , class: "btn btn-primary"%>
 <% end %>
