
<div class= "container">
  <% if emp_signed_in? %>
    <%= pie_chart({"Requested Requisition" => "#{@emp.count}" , "Asset added" => "#{@rel.count}" }) %>
    <%= pie_chart({"Requested Requisition" => "#{@emp.count}","Approved Requisition" => "#{@empa.count}" , "Rejected Requisition" => "#{@empd.count}"  }) %>

 <%elsif authorize_signed_in? %>s
    <div class = "span10 well">
    		<h1>Realassets by days</h1>
	         <%= line_chart Realasset.group_by_day(:created_at).count %>
    </div>
    
    <div class = "span10 well" >
        <h1>Purchase order by day</h1>
          <%= line_chart Po.group_by_day(:created_at).count%> 
    </div>
    
    <div class = "span10 well" >
        <h1>vendors by day</h1>
          <%= line_chart Vendor.group_by_day(:created_at).count%> 
    </div>
    
    <div class = "span10 well">
        <h1>Pi chart of all the Datas</h1>
          <%= pie_chart({"Asset" => Realasset.count , "Requisition" => Requisition.count, "Vendor" => Vendor.count , "Location" => Location.count , "Employee" => Emp.count , "Authorize" => Authorize.count , "hr" =>Hr.count , "Purchase order" => Po.count}) %>
    </div>
    
    <div class = "span10 well">
        <%= pie_chart({"Approve po" => "#{@autha.count}" , "Disapprove po" => "#{@authd.count}" }) %>
    </div>
 	

  <%elsif hr_signed_in? %>
 	  
    <div class = "span10 well">
      <h1>Realassets by days</h1>
        <%= column_chart Realasset.group_by_day(:created_at).count %>
    </div>

    <div class = "span10 well" >
      <h1>Purchase order by day</h1>
        <%= line_chart Po.group_by_day(:created_at).count%> 
    </div>

    <div class = "span10 well" >
      <h1>vendors by day</h1>
        <%= line_chart Vendor.group_by_day(:created_at).count%> 
    </div>

    <div class = "span10 well">
      <h1>Stock by days</h1>
        <%= column_chart Stock.group_by_day(:created_at).count %>
    </div>

    <div class = "span10 well">
      <h1>Allotment by days</h1>
        <%= line_chart Allot.group_by_day(:created_at).count %>
    </div>
    
    <div class = "span10 well">
      <h1>Action Taken</h1>
        <%= line_chart Poapp.group_by_day(:created_at).count %>
    </div>
    
    <div class = "span10 well">
      <h1>Requisition by days</h1>
        <%= area_chart Requisition.group_by_day(:created_at).count %>
    </div>
    
    <div class = "span10 well">
      <h1>Pi chart of all the Datas</h1>
        <%= pie_chart({"Asset" => Realasset.count , "Requisition" => Requisition.count, "Vendor" => Vendor.count , "Location" => Location.count , "Employee" => Emp.count , "Authorize" => Authorize.count , "hr" =>Hr.count , "Purchase order" => Po.count}) %>
    </div>
    
    <div class = "span10 well">
      <%= pie_chart({"Approve po" => "#{@autha.count}" , "Disapprove po" => "#{@authd.count}" }) %>
    </div>

  <%end %>	
</div>
</div>

