<%= form_for (@replication) do |f| %>
          <h2><center><u>Replication slip</u></center></h2>
          <table width = "600">
      <tr>
      <td>
          <%= f.label :SR_NO %>
      </td>
      <td>
          <%= f.number_field :sr_no , :id => "txt_RegionName" %>
      </td>
    
      <td>
        <%= f.label :Particular %>
      </td>
      <td>
        <%= f.text_area :particular , :id => "txt_Region" %>
      </td>
   
      <td>
        <%= f.label :Unit %>
      </td>
      <td>
        <%= f.text_field :unit ,:id => "txt_Regio" %>
      </td>
     

      <td> 
        <%= f.label :Required_Quantity %>
      </td>
      <td>
        <%= f.text_field :quantity ,:id => "txt_Regi" %>
      </td>
   </tr>
   <tr>
    <td></td><td></td><td></td>
    <td>
  <input type="button"  name="add" id="btn_AddToList" value="add" class="btn btn-primary" />
    <input type="button"  name="Done" id="btn_AddToList1" value="Done" class="btn btn-success" />
</td></tr>
</table>
<br />
<center>
<table id="lst_Regions" style="width: 500px;" border= "2" class="table table-striped table-bordered table-condensed">
    <tr>
    <td>SR_NO</td>
    <td>Item Name</td>
    <td>Particular</td>
    <td>Cost</td>
  </tr>
</table>
</center>
<input type="button" id= "submit" value="Submit Repication"  class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#myModal" />
<% end %>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
        <h4 class="modal-title" id="myModalLabel"><center>REPLICATION SLIP</center></h4>
      </div>
      <div class="modal-body">
        <table id="lst_Regions" style="width: 500px;" border= "2" class="table table-striped table-bordered table-condensed">
   
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

