

<div class="container">
  <div class="row">
    <% if authorize_signed_in? || hr_signed_in? %>
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">Employee Details
        </h3>
      </div>
            
      
       <table class="table">
        <thead>
          <tr class="filters">
            <th><input type="text" class="form-control" placeholder="Username" disabled></th>
            <th><input type="text" class="form-control" placeholder="Email" disabled></th>
            <th><input type="text" class="form-control" placeholder="Assets" disabled></th>
            <th><input type="text" class="form-control" placeholder="Status" disabled></th>
          </tr>
        </thead>
        
        <tbody>
        <% @emp.each do |e| %>
          <tr>
            <td><%= e.username %></td>
            <td><%= e.email %></td>
            <td>
              <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal<%= e.id %>">
                <%= e.requisitions.count %> Assets 
              </button>

              <div class="modal fade" id="myModal<%= e.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              
                <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel"><%= e.username.capitalize %> requisitions</h4>
                      </div>
                      
                      <div class="modal-body">
                          <table class="table table-striped table-bordered table-condensed">
                            <tr style = 'background-color: white'>
                              <th> <i class="fa fa-male"></i> Asset name </th>
                              <th><i class="fa fa-bars"></i> particular</th>
                              <th><i class="fa fa-bars"></i>unit</th>
                              <th><i class="fa fa-bars"></i>quantity</th>
                              <th><i class="fa fa-bars"></i>cost</th>
                              <th><i class="fa fa-bars"></i>Total</th>
                            </tr>                    
                            
                            <tbody> 
                              <% e.requisitions.each do |requisition| %>  
                                <tr>
                                  <td><%= requisition.name %></td>
                                  <td><%= requisition.particular %></td>
                                  <td><%= requisition.unit %></td>
                                  <td><%= requisition.quantity %></td>
                                  <td><%= requisition.cost %></td>
                                  <td><%= requisition.total %></td>
                                </tr>
                              <% end %> 
                            </tbody>
                          </table>
                        </div>
                        
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close
                              </button>
                          </div>
                      </div>
                    </div>
                   </div>
                </td>
                     
                <td>
                  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mmyModal<%= e.id %>">
                    PO 
                  </button>
                  
                  <div class="modal fade" id="mmyModal<%= e.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel"><%= e.username.capitalize %> Order</h4>
                      </div>
                                
                      <div class="modal-body">
                        <table class="table table-striped table-bordered table-condensed">
                          <tr style = 'background-color: white'>
                            <th> <i class="fa fa-male"></i>Asset name </th>
                            <th><i class="fa fa-bars"></i>Po-number</th>
                            <th><i class="fa fa-bars"></i>Send for approval</th>
                            <th><i class="fa fa-bars"></i>Action taken on</th>
                            <th><i class="fa fa-bars"></i>result</th>
                            <th><i class="fa fa-bars"></i>Send on</th>
                            <th><i class="fa fa-bars"></i>Stock</th>
                            <th><i class="fa fa-bars"></i>Received</th>
                          </tr>                    
                                
                         <tbody> 
                             <% e.requisitions.each do |requisition| %>  
                               <tr>
                                 <% requisition.pos.each do |p| %>
                                    <td><%= p.name %></td>
                                    <td><%= p.pono %></td>
                                    <td><%= p.podate %></td>
                                          
                                          <% p.poapps.each do |ap| %>
                                                <td><%= ap.date %></td>
                                                  <td>
                                                    <% if "#{ap.action}" == "approve" %>
                                                        <span class="label label-success"><%= ap.action %></span>
                                                    <% elsif "#{ap.action}" == "disapprove" %>
                                                        <span class="label label-warning"><%= ap.action %></span>
                                                    <%else%>
                                                        <span class="label label-info">Waiting..</span>
                                                    <% end %>
                                                  </td>
                                                <%end%>
                                          <% p.ssends.each do |j| %>
                                                  <td><%= j.created_at %></td>
                                                      
                                                    <% j.stocks.each do |n| %>
                                                      <td>
                                                          <%= n.created_at %>
                                                      </td>
                                                
                                                  <% n.allots.each do |l| %>
                                                        <td><%=l.created_at %></td>
                                                    <%end %>
                                                  <%end %>
                                                <% end %>
                                              <%end %>
                                            </tr>
                                        <% end %> 
                                  </tbody>
                            </table>
                          </div>
                          
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                      </div>
                  </div>
              </div>
            </td>
        </tr>
      <%end %>
  </tbody>
</table>
</div>
<%else %>
  <div class="col-sm-6 col-md-6">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="fa fa-hand-right"></span> <strong>Alert..!!</strong>
                <hr class="message-inner-separator">
                <p>
                    You are not authorized to view this page.</p>
            </div>
        </div>
<%end %>
</div>
</div>


   