
<div class="container">
  <div class="row">
    <% if authorize_signed_in? || hr_signed_in? %>
    
     <h1> <%= @emp.count %> Employes in Marck bioscience pvt ltd</h1>
      <% @emp.each do |e| %>
    <div class="span4">
      <div class="offer offer-success">
        <div class="shape">
          <div class="shape-text">
            <%= e.id %>               
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">
           <%= e.username.capitalize %> 
          </h3>           
          <p>
            <table>
            <tr>
                <td>
                  <span class="label label-default">Email</span>
                </td>
                <td>
                    <a href="#"><u><%= e.email %></u></a> 
                </td> 
              </tr>
              <tr>
                <td>
                  <span class="label label-default">Requisitions</span> 
                </td>
                <td>
                  <span class="label label-info"><%= e.requisitions.count %></span> 
                    
                </td>
              </tr>
              <tr>
                <td>
                     <%= link_to "More details" , e , :class => "btn btn-info" %>
                </td> 
              </tr>
            </table>
          </p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
    
   
   
   
  </div>
</div>


    
   
       
         