

<div class="container">
  <div class="row">
    <% if authorize_signed_in? || hr_signed_in? %>
     <h1> <%= @emp.count %> Employes in Marck bioscience pvt ltd</h1>
        <% @emp.each do |e| %>
          <div class = "well span3">
            <table>
              <tr>
                <td>
                  <span class="label label-default">Name:</span>
                </td>
                <td>
                    <%= e.username.capitalize %> 
                </td>
              </tr>

              <tr>
                <td>
                  <span class="label label-default">Email</span>
                </td>
                <td>
                    <a href="#"><u><%= e.email %></u></a> 
                </td> 
              </tr>

              <tr>
                <td>
                   <span class="label label-default">ID</span>
                </td>

                <td>
                    <span class="label label-success"><%= e.id %></span> 
                </td>
              </tr>

              <tr>
                <td>
                  <span class="label label-default">Requisitions</span> 
                </td>
                <td>
                  <span class="label label-info"><%= e.requisitions.count %></span> 
                    
                </td>
              </tr>
            </table>
            <%= link_to "More details" , e , :class => "btn btn-info" %>
          </div>
        <% end %>
      </tr>
       <% end %>
     </div>
   </div>