
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form class = "form-inline" action="#" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" id="system-search" placeholder="Search" name="q" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
            <div class="col-md-9">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr style = 'background-color: white'>
                    <th> <i class="fa fa-male"></i> Username </th>
                    <th><i class="fa fa-bars"></i> Email</th>
                     <th><i class="fa fa-bars"></i>count</th>
                      <th><i class="fa fa-bars"></i>Time</th>
                    <th><i class="fa fa-bars"></i>Last time</th>
                    <th><i class="fa fa-envelope-o"></i>ip</th>
                    <th><i class="fa fa-map-marker"></i>last ip</th>
                    
                    <th><i class="fa fa-phone"></i>TAKE actions</th>
                </tr>
            </thead>
            <tbody>
               
             <% @emp.each do |e| %>
                  <tr>
                    <td><%= e.username %></td>
                    <td><%= e.email %></td>
                    <td><%= e.sign_in_count %></td>
                    <td><%= e.current_sign_in_at %></td>
                    <td><%= e.last_sign_in_at %></td>
                    <td><%= e.current_sign_in_ip %></td>
                    <td><%= e.last_sign_in_ip%></td>
                    <td>
                       
                    </td>
                 <tr>
            <% end %>
            </tbody>
        </table>
            
        </div>
    </div>






