To,hr
A new requestion is added to the purchase process
the discriptions is
<p>
name => <%= @requisition.name %></p>
<p>particular => <%= @requisition.particular %>
</p><p>quantity => <%= @requisition.quantity %>
</p><p>unit => <%= @requisition.unit %></p>
<p>
you can also view all  <%= link_to "requisitions" , @url %> 
</p>