
  

<div class = "container" >
  <div id= "pagecontent" >
	<p style = "color: maroon; font-size: 30pt" align = "right"><i><b>PURCHASE ORDER</b></i></p>
	<hr size = "5" color= "maroon" align = "center" width = "100%">
	<p align = "right" style = "font-size: 15pt; color: MidnightBlue"> 
		<%= Time.now.strftime("%B,%d %Y") %>
		</p>
		
		<table align = "left" style = "font-size:12pt">
			
			<tr>
                 
				<td>
					<p style = "font-size: 15pt"><b>MARCK BIOSCIENCE</b>
					</p>
				</td>
			</tr>
		    <tr>
		    	<td>Plot no: 876,</td>
		    </tr>
		    <tr>
		    	<td>N.H.no.8, Hariyala, </td>
		    </tr>
		    <tr>
		    	<td>Kheda</td>
		    </tr>
		    <tr>
		    	<td>Phone: +91 2694 304000<br /></td>
		    </tr>
		    <tr>
				<td>Gujarat, India<br /></td></tr>
				<tr>
				<td>Fax: +91 2694 304050<br /></td>
			</tr>
	
		</table>
		


<hr size = "5" color= "maroon" align = "center" width = "100%" ><p>
		<d align = "right" style = "color: MidnightBlue; font-size: 12pt"><b> INVOICE:-
    
      <%= @po.invoiceno %>
    </b></d>
    <br/>
<br/>
     
     <table style="border:1px solid black;border-collapse:collapse;">
     	<tr>
     		<td>
     			TO,
     		</td>
     	</tr>
     	<tr>
     		
         <td><%= @po.vadd %></td>
		
 
    
   
     		
     	
     		</tr>
     </table>
     <br/>
     <br/>
     <table class="table table-striped table-bordered table-condensed">
       <tr style = 'background-color: white'>
       	<th>P.O Date</th>
       	<th>Requisitioner</th>
       	<th>Forwarded by</th>
       	<th>Forwarded to</th>
       	<th>Terms</th>
       </tr>
       <tr>
       	<td>
          <%= @po.podate %>
       	</td>
       	<td>
         <%= @po.requisitner %>
       	</td>
       	<td>
        <%= @po.forby %>
       	</td>
       	<td>
          <%= @po.forto %>
       	</td>
       	<td>
       		<%= @po.terms %>
       	</td>
       </tr>
   </table>
<table class="table table-striped table-bordered table-condensed">
                    <thead>
                            <tr style = 'background-color: white'>
                                <th> <i class="fa fa-laptop"></i></i> Name </th>
                                <th><i class="fa fa-bars"></i>  Particular</th>
                                <th><i class="fa fa-envelope-o"></i> Unit</th>
                                <th><i class="fa fa-plus-square-o"></i></i>Quantity</th>
                                <th><i class="fa fa-money"></i>TOTAL</th>
                         
                            </tr>
    </thead>
    <tbody>
							<tr>
								<td>
                  
                  <%= @po.name %></td>
								<td>
                  
                  <%= @po.particular %></td>
								<td>
                 
                  <%= @po.unit %></td>
								<td>
                    
                  <%= @po.quantity %></td>
								<td>
                     <%= @po.total %></td>
                   
                </td>
								
							</tr>
							
							
							</tbody>
</table>
</div>
<button id= "print" type="button" class="btn btn-success" onclick="Print();">PRINT</button>

	</div>



  
<div class="widget stacked widget-table action-table">
  				
				<div class="widget-header">
					<i class="icon-th-list"></i>
					<h3>Purchase order</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Invoice number</th>
								<th>Po number</th>
								<th>Vendor Email</th>
								<th>Vendor Address</th>
								<th>Po date</th>
								<th>Requisition</th>
								<th>Authorized person</th>
								<th>General manager</th>
								<th>terms</th>
								<th>Asset name</th>
								<th>Asset particular</th>
								<th>Asset unit</th>
								<th>Asset quantity</th>
								<th>Asset Total</th>
	
								


								

							
								<th class="td-actions"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%= @po.invoiceno %></td>
								<td><%= @po.pono %></td>
								<td><%= @po.vname %></td>
								<td><%= @po.vadd %></td>
								<td><%= @po.podate %></td>
								<td><%= @po.requisitner %></td>
								<td><%= @po.forby %></td>
								<td><%= @po.forto %></td>
								<td><%= @po.terms %></td>
								<td><%= @po.name %></td>
								<td><%= @po.particular %></td>
								<td><%= @po.unit %></td>
								<td><%= @po.quantity %></td>
								<td><%= @po.total %></td>
								

								
							</tr>
							
							
							</tbody>
						</table>
					
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->
		
