
<div id="gallery">

    <a href="#" class="show">
     <%= image_tag("marck14.png", :alt => "Sample App", :class => "round" , :width => "700" ,:rel => "<h3> HOME </h3>") %>
    </a>
    
    <a href="#">
         <%= image_tag("marck20.png", :alt => "Sample App", :class => "round" , :width => "700" ,:rel => "<h3> HELP </h3>") %>
    </a>
    <a href="#">
             <%= image_tag("marck17.png", :alt => "Sample App", :class => "round" , :width => "700" ,:rel => "<h3> ABOUT </h3>") %>
    </a>
    <a href="#">
             <%= image_tag("marck19.png", :alt => "Sample App", :class => "round" , :width => "700" ,:rel => "<h3> CONTACT </h3>") %>
    </a>
    <a href="#">
             <%= image_tag("marck16.png", :alt => "Sample App", :class => "round" , :width => "700" ,:rel => "<h3> DEVELOPER </h3>") %>
    </a>
   

    <div class="caption"><div class="content"></div></div>
</div>
<div class="clear"></div>











































