        <div class="col-md-9">
            <form class = "form-inline" action="#" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" id="system-search" placeholder="Search" name="q" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
              <%= paginate @requisition %>
            <div class="col-md-9">
       
<table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr style = 'background-color: white'>
                    <th> <i class="fa fa-male"></i> Name </th>
                    <th><i class="fa fa-bars"></i> Particular</th>
                    <th><i class="fa fa-envelope-o"></i>Unit</th>
                    <th><i class="fa fa-map-marker"></i>Quantity</th>
                    <th><i class="fa fa-share"></i>From</th>
                    <th><i class="fa fa-money"></i>Cost</th>
                     <th><i class="fa fa-plus-circle"></i></i>Total</th>
                    <th><i class="fa fa-check-circle-o"></i>TAKE actions</th>
                </tr>
            </thead>
            <tbody>
               
             <% @requisition.each do |r| %>
                  <tr> 
                    <td><%= r.name %></td>
                    <td><%= r.particular %></td>
                    <td><%= r.unit %></td>
                    <td><%= r.quantity %></td>
                    <td><%= r.from %></td>
                    <td><%= r.cost %></td>
                    <td><%= r.total %></td>
                    <td>
                        <%if r.pos.empty? %>
                        <%= button_to "Generate PO", r , method: :get, :class => "btn btn-info"  ,data: { confirm: "Really wants to generate Po?" } %>
                        
                          <%else%>
                          <%= button_to "PO GENERATED" , r , :disabled => :true , :class => "btn btn-danger"%> 
                          <%end %>
                    </td>
                 </tr>

            <% end %>
            </tbody>
        </table>
      
        </div>
  

