<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form class = "form-inline" action="#" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" id="system-search" placeholder="Search" name="q" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
             <%= paginate @requisition %>
        </div>
        <div class="col-md-9">
         <table class="table table-striped table-bordered table-condensed">
                    <thead>
                            <tr style = 'background-color: white'>
                                <th> <i class="fa fa-male"></i> Name </th>
                                <th><i class="fa fa-bars"></i>  Particular</th>
                                <th><i class="fa fa-envelope-o"></i> Unit</th>
                                <th><i class="fa fa-map-marker"></i>Quantity</th>
                                <th><i class="fa fa-phone"></i> From</th>
                                <th><i class="fa fa-phone"></i>  TAKE actions</th>
                                
                            
                            </tr>
    </thead>
    <tbody>

      
       <% @requisition.each do |r| %>
      
      <tr>
        <td><%= r.name %></td>
        <td><%= r.particular %></td>
        <td><%= r.unit %></td>
        <td><%= r.quantity %></td>
       <td> <%= r.from %></td>
       <td><%= button_to "Remove", r, method: :delete, :class => "btn btn-danger" ,data: { confirm: "Are you sure?" } %></td>
       <tr>
      
        <% end %>
       
   </tbody>
</table>
<div><table >
                <tr>
                    <td>
                        <%= button_to "ADD NEW" , requisitions_new_path,:class=>"btn btn-primary",:method => :get %>
                    </td>
                </tr>
            </table>
            
            
        </div>
</div>
</div>
</div>


