  

<div class = "container" >
  <div id= "pagecontent" >
	<p style = "color: maroon; font-size: 30pt" align = "right"><i><b>PURCHASE ORDER</b></i></p>
	<hr size = "5" color= "maroon" align = "center" width = "100%">
	<p align = "right" style = "font-size: 15pt; color: MidnightBlue"> 
		<%= Time.now.strftime("%B,%d %Y") %>
		</p>
		
		<table align = "left" style = "font-size:12pt">
			<%= form_for(@po) do |f| %>
			<tr>
                 
				<td>
					<p style = "font-size: 15pt"><b>MARCK BIOSCIENCE</b>
					</p>
				</td>
			</tr>
		    <tr>
		    	<td>Plot no: 876,</td>
		    </tr>
		    <tr>
		    	<td>N.H.no.8, Hariyala, </td>
		    </tr>
		    <tr>
		    	<td>Kheda</td>
		    </tr>
		    <tr>
		    	<td>Phone: +91 2694 304000<br /></td>
		    </tr>
		    <tr>
				<td>Gujarat, India<br /></td></tr>
				<tr>
				<td>Fax: +91 2694 304050<br /></td>
			</tr>
	
		</table>
		


<hr size = "5" color= "maroon" align = "center" width = "100%" ><p>
		<d align = "right" style = "color: MidnightBlue; font-size: 12pt"><b> INVOICE Number
    
      <%= f.text_field :invoiceno ,:value=> rand_value , :id=> "copy", :readonly=> "true" %>
    </b></d>
    
    <%= f.hidden_field :pono , :id=> "invoice" ,:readonly=> "true" %> </d></p>
    <%= f.hidden_field :requisition_id ,:value=> "#{@requisition.id}" %>,:readonly=> "true" %>
<br/>
<br/>
     
     <table style="border:1px solid black;border-collapse:collapse;">
     	<tr>
     		<td>
     			TO,
     		</td>
     	</tr>
     	<tr>
     		<td>
          <%= f.label :Vendor_Name %>
       <%= f.select(:vname, vendor_for_select, :prompt => 'Select') %>

    <%= f.label :Vendor_Address %>
    <%= f.select(:vadd, vendoradd_for_select, :prompt => 'Select') %>
    
   
     		
     	</td>
     		</tr>
     </table>
     <br/>
     <br/>
     <table class="table table-striped table-bordered table-condensed">
       <tr style = 'background-color: white'>
       	<th>P.O Date</th>
       	<th>Requisitioner</th>
       	<th>Forwarded by</th>
       	<th>Forwarded to</th>
       	<th>Terms</th>
       </tr>
       <tr>
       	<td>
          <%= f.hidden_field :podate, :value=> "#{Time.now().strftime("%B,%d  %Y")}" %>
       		  <%=Time.now().strftime("%B,%d  %Y") %>
       	</td>
       	<td>
          <%= f.hidden_field :requisitner ,:value=>"#{@requisition.from}" %>
       		 <%= @requisition.from %>
       	</td>
       	<td>
          <%= f.hidden_field :forby ,:value=> "#{current_authorize.username.capitalize}" %>
       		 <%=current_authorize.username.capitalize%> 
       	</td>
       	<td>
          <%= f.hidden_field :forto ,:value=> "R.s.subramanian" %>
       		R.s.subramanian
       	</td>
       	<td>
       		<%= f.select :terms, options_for_select([["25days",'25days'],["50days",'50days']]), :prompt => "select terms", :style => "color:  #005C1F; font-size: 12pt; font-weight: bold;" %>
       	</td>
       </tr>
   </table>
<table class="table table-striped table-bordered table-condensed">
                    <thead>
                            <tr style = 'background-color: white'>
                                <th> <i class="fa fa-laptop"></i></i> Name </th>
                                <th><i class="fa fa-bars"></i>  Particular</th>
                                <th><i class="fa fa-envelope-o"></i> Unit</th>
                                <th><i class="fa fa-plus-square-o"></i></i>Quantity</th>
                                <th><i class="fa fa-money"></i>TOTAL</th>
                         
                            </tr>
    </thead>
    <tbody>
							<tr>
								<td>
                  <%= f.hidden_field :name ,:value=> "#{@requisition.name}" %>
                  <%= @requisition.name %></td>
								<td>
                  <%= f.hidden_field :particular ,:value=> "#{@requisition.particular}" %>
                  <%= @requisition.particular %></td>
								<td>
                  <%= f.hidden_field :unit ,:value=> "#{@requisition.unit}" %>
                  <%= @requisition.unit %></td>
								<td>
                    <%= f.hidden_field :quantity ,:value=> "#{@requisition.quantity}" %>
                  <%= @requisition.quantity %></td>
								<td>
                     <%= @requisition.total %></td>
                    <%= f.hidden_field :total  ,:value=> "#{@requisition.total}" %>
                </td>
								
							</tr>
							
							
							</tbody>
</table>
</div>
<%= f.submit "Send for approval" , :class=> "btn btn-primary" %>
<button id= "print" type="button" class="btn btn-success" onclick="Print();">PRINT</button>
<% end %>
	</div>



