
<div class="container">
    <div class="row">
        <% if gatekeeper_signed_in? %>
        <div class="col-md-9">
            <form class = "form-inline" action="#" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" id="system-search" placeholder="Search" name="q" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
       
            <div class="col-md-9">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr style = 'background-color: white'>
                    <th> <i class="fa fa-male"></i> Name </th>
                    <th><i class="fa fa-bars"></i>Purchase order No</th>
                    
                   
                    
                    <th><i class="fa fa-bars"></i>Send at</th>
                     <th><i class="fa fa-bars"></i>Received</th>
                    
                </tr>
            </thead>
           
            <tbody>
                
                        <% @po.each do |p| %>
                        
                            <tr class = "reasset">
                            	 <%= form_for (@invard) do |f| %>
                                <td>
                                    
                                    <%= p.name %>

                                </td>
					            
                                <td>
                                  <%= f.text_field :invoice ,:value=> rand_value.upcase! ,:placeholder => "enter invoice", :readonly => :true %>
                                    <%= p.pono %>
                                </td>
					           
                                 
                                    
                  	              <% p.ssends.each do |s| %>
                                  <td><%= f.hidden_field :ssend_id , :value=> "#{s.id}" %>
                                  	 <%= s.created_at.strftime("%B,%d %Y") %>
                                  </td>
                                <td>
                            			
                                       
                                        <%= f.text_field :remark , :placeholder => "enter remarck if any?" %>
                                </td>
                                   
                                   
                                
                                 <td>
                                   		<% if s.invards.empty? %>
                                       <%= f.submit "Do invard" , :class => "btn btn-success" %>	
                                   		<%else %>
                                   		<%=button_to "Forwarded" , s , :class => "btn btn-danger" , :disabled => :true %>
                                   		<% end %>
                                </td>

                     <% end %>
                    
     <% end %>
                 </tr>
            <% end %>
       
           
            </tbody>
            
        </table>
            
        </div>
       <%else %>
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="fa fa-hand-right"></span> <strong>Alert..!!</strong>
                <hr class="message-inner-separator">
                <p>
                    You are not authorized to view this page.</p>
            </div>
        </div>
       <%end %>
    </div>
</div>



	
	


