
 <%= form_for(@vendor) do |f| %>
 <div class = "well">
  <a class ="red">
 <% if @vendor.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@vendor.errors.count, "error") %>
prohibited this <%= @vendor.class.to_s.underscore.humanize.downcase %>
from being saved:</h2>
<p>There were problems with the following fields:</p>
<ul>
<% @vendor.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
</a></div>
          <table width="700">
            <tr>
              <td>
                <%= f.label :Full_name %>
                <h3><i class="fa fa-user"></i>
                  <%= f.text_field :name %>
                </h3>
              </td>
               <td>
                <%= f.label :address %><h3><i class="fa fa-align-justify"></i> 
                <%= f.text_area :address %></h3>
              </td>
            </tr>
              <tr>
                <td>
   
                 <%= f.label :email %><h3><i class="fa fa-envelope"></i>
                 <%= f.text_field :email %></h3>
               </td>
                 <td>
   
                  <%= f.label :location %><h3><i class="fa fa-map-marker"></i>
                  <%= f.text_field :location %></h3>
                </td>
              </tr>
              <tr>
                <td>
   
                 <%= f.label :ph_no %><h3><i class="fa fa-phone"></i>
                 <%= f.text_field :ph_no %></h3>
               </td>
                 <td>
    
                  <%= f.label :mobile_no %><h3><i class="fa fa-phone-square"></i>
                  <%= f.text_field :mobile_no %></h3>
                </td>
              </tr>
              <tr>
                <td>
      
                  <%= f.label :asset_name %><h3><i class="fa fa-truck"></i> 
                  <%= f.text_field :asset_name %></h3>
                </td>
              <td>
                      <%= f.submit "Save", class: "btn  btn-primary btn-lg btn3d"  %>
                     
                    </td>
                    </tr>
                    </table>
<% end %>
 <%=button_to "View All", vendors_path, :class => "btn btn-danger" %>