<div class="span7">   
<div class="widget stacked widget-table action-table">
  				
				<div class="widget-header">
					<i class="icon-th-list"></i>
					<h3>VENDORS</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Address</th>
								<th>Email</th>
								<th>Location</th>
								<th>Ph_no</th>
								<th>Mobile_no</th>
								<th>Asset_name</th>
							
								<th class="td-actions"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%= @vendor.name %></td>
								<td><%= @vendor.address %></td>
								<td><%= @vendor.email %></td>
								<td><%= @vendor.location %></td>
								<td><%= @vendor.ph_no %></td>
								<td><%= @vendor.mobile_no %></td>
								<td><%= @vendor.asset_name %></td>
								
							</tr>
							
							
							</tbody>
						</table>
					
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->
			<div><table >
				<tr>
					<td>
						<%= button_to "VIEW All" , vendors_path ,:class=>"btn btn-info",:method => :get %>
					</td>
					<td>
						<%= button_to "ADD NEW" , vendors_new_path ,:class=>"btn btn-primary",:method => :get %>
					</td>
				</tr>
			</table>
			
			
		</div>
            </div>