
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
       <div id="continer" style="height: 300px width: 350px"></div>
        </div>
       
         <div class="span4">
         <table>
           <tr>
            <td>
                <%= image_tag("bindi.jpg", :alt => "Sample App", :class => "round" , :width => "700") %>
             </td>
              </tr>
              <tr>
            <td>
                
                                      
                   <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                    <div>
                     <p><div class ="well">
                     <h2>Sign in</h2>

                       <h2><i class="fa fa-user"></i> <%= f.text_field :username , :placeholder => "Enter username..."%></p></h2>

                      <div>
                        
                         <h2><i class="fa fa-key"></i><%= f.password_field :password , :placeholder => "Enter password.." %></div></h2>
                        
                         <% if devise_mapping.rememberable? -%>
                         <div>
                          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                      </div>
                      
                    <% end -%>
                  

  <div><%= f.submit "Sign in" ,:class => "btn btn-success "%><br /><%= f.submit "Cancle" ,:class => "btn btn-danger "%></div>
<% end %>

</td>
</tr>
</div>
</table>
</div>
</div>
</div>

