<div class="main-header1">
  <center>
   <% if emp_signed_in? || hr_signed_in? || authorize_signed_in? %>
  <div class = "alert alert-info">
    you  are already signed in.
</div>
<% else %>
<div style="margin-top:80px;" class="row-fluid">
    <div class="offset3 span6 well">
       <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <center><h2>Sign in</h2></center>


            </h2>
                <hr class="colorgraph">
                  <h2>
                    <i class="fa fa-user"></i>
                      <%= f.text_field :username , :placeholder => "Enter username..." , :id => "username" %>
                  </h2>
        
                  <h2>
                    <i class="fa fa-key"></i>
                       <%= f.password_field :password , :placeholder => "Enter password.." ,:id => "password" %>
                  </h2>             
                <hr class="colorgraph">
                <%= f.submit "Sign in" ,:class => "btn btn-block btn-lg btn-success", :id => "signin" %>
                <%= render "devise/shared/links" %>
        <% end %> 
    
  </div>
  </div>

</div>
     


   <% end %>
 </center>
     </div>