<div class="container-fluid">
<div class="row-fluid">
  <div class= "span6">
    <div class="well">
      <%= pie_chart({"Asset" => Realasset.count , "Requisition" => Requisition.count, "Vendor" => Vendor.count , "Location" => Location.count , "Employee" => Emp.count , "Authorize" => Authorize.count , "hr" =>Hr.count}) %>
    </div>
  </div>
  
  <div class= "span6">
    <div class="well">
       <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <center><h2>Sign in</h2></center>


            </h2>
                <hr class="colorgraph">
                  <h2>
                    <i class="fa fa-user"></i>
                      <%= f.text_field :username , :placeholder => "Enter username..." , :id => "username" %>
                  </h2>
        
                  <h2>
                    <i class="fa fa-key"></i>
                       <%= f.password_field :password , :placeholder => "Enter password.." ,:id => "password" %>
                  </h2>             
                <hr class="colorgraph">
                <%= f.submit "Sign in" ,:class => "btn btn-block btn-lg btn-success", :id => "signin" %>
                
        <% end %> 
    </div>
  </div>
</div>
     

<div class="row-fluid">
  <div class= "span6">
    <div class="well">
       <%= line_chart Realasset.group_by_day(:created_at).count %>
      
     
     
      
    </div>
  </div>
  
  <div class="span6">
    <div class= "well">
        
        <%= line_chart Emp.group_by_day(:current_sign_in_at).count%> 
      </div>
    </div>
</div> 

</div>                         