<div class = "container">
<div id = "assetnew">
 <%= form_for(@asset) do |f| %>
 <center><h1>Add Asset</h1></center>
  <div class = "well">
    <a class ="red">
      <% if @asset.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@asset.errors.count, "error") %>
                prohibited this <%= @asset.class.to_s.underscore.humanize.downcase %>
                from being saved:</h2>
              <p>There were problems with the following fields:</p>
                <ul>
                  <% @asset.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
        </div>
         <% end %>
     </a>
  </div>
          <table width="700">
            <tr>
              <td>
                <%= f.label :Full_name %>
                <h3><i class="fa fa-user"></i>
                  <%= f.text_field :name %>
                </h3>
              </td>
               <td>
                <%= f.label :Type %><h3><i class="fa fa-align-justify"></i> 
               <%= f.select :tp, options_for_select([["movable",'Movable'],["fixed",'Fixed']]), :prompt => "select type of asset" %>

   
               
              </td>
            </tr>
              <tr>
                
                 <td>
   
        <%= f.label :Location %><h3><i class="fa fa-map-marker"></i>
        <%= f.select("location", "vendor_id",Vendor.all.collect {|p| [ p.name, p.id ] }, { include_blank: true })%>
        <%= f.select :location, options_for_select([["S.V.P",'Svp Plant'],["Admin",'Admin']]), :prompt => "select location of asset" %></h3>
  <input type="button" id= "submit" value="Add location"  class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-loading-text="loding..." />
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><center>ADD location</center></h4>
            <%= render "/locations/new" %>
         </div>
            <div class="modal-body">
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
                </td>
              </tr>
              <tr>
                <td>
   
                 <%= f.label :Approximate_Cost %><h3><i class="fa fa-phone"></i>
                 <%= f.text_field :cost %></h3>
               </td>
                 <td>
    
                      <%= f.submit "Save", class: "btn btn-success"  %>
                     
                     
                    </td>
                    </tr>
                    </table>

<% end %>

</div>

</div>
