<div class="span7">   
	
<div class="widget stacked widget-table action-table">
  				
				<div class="widget-header">
					
					<h3>assetS</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>location</th>
								<th>Cost</th>
								<th class="td-actions"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%= @asset.name %></td>
								<td><%= @asset.tp %></td>
								<td><%= @asset.location %></td>
								<td><%= @asset.cost %></td>
								
							</tr>
							
							
							</tbody>
						</table>
						<%= button_to "viewAll" , real_assets_path ,:method => :get , :class=> "btn btn-warning"%>
						<div class="dropdown"><a id="dLabel" role="button" class="btn btn-warning" data-target="#" href="/assets">ViewAll</a></div>
					
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->
            </div>