<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form class = "form-inline" action="#" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" value =<%= @search.city %> id="system-search" placeholder="Search" name="q" required>
                     <input type="text" class="form-control" value =<%= @search.service %> id="system-search1" placeholder="Search" name="p" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            
        </div>
        <div class="col-md-9">
         <table class="table table-striped table-bordered table-condensed">
                    <thead>
                            <tr style = 'background-color: white'>
                                 <th> <i class="fa fa-male"></i>Lawyer code </th>
                                <th> <i class="fa fa-male"></i>Lawyer name </th>
                                <th><i class="fa fa-bars"></i> Experience</th>
                                <th><i class="fa fa-envelope-o"></i> Rating</th>
                                <th><i class="fa fa-map-marker"></i>Locaiton</th>
                                <th><i class="fa fa-phone"></i> Service code</th>
                                <th><i class="fa fa-phone"></i> Charges</th>
                                <th><i class="fa fa-phone"></i>Service name</th>
                                
                            
                            </tr>
    </thead>
    <tbody>

      
       <% @lcity.each do |c| %> 
      
      <tr>
        <td><%= c.lcode %></td>
	<td><%= c.lname %></td>
	<td><%= c.lexperience %></td>
	<td><%= c.lrating %></td>
	<td><%= c.llocation %></td>
	<td><%= c.lservices.count %></td>
    
	</tr>
	

	<% end %>
       
      
       
       
   </tbody>
</table>
<div>
            
            
        </div>
</div>
</div>
</div>






 

	
	

	
	