<div class = "container">
    
      <div class = "well">
        <d class ="red">
          <%= render "error" %>
        </d>
      </div><%= form_for(@realasset) do |f| %>
          <center><h1>Add Asset</h1></center>
              <table width="700">
                <tr>
                  <td>

                    <%= f.label :Full_name %>
                      <h3><i class="fa fa-user"></i>
                          <%= f.text_field :name %>
                      </h3>
                  </td>
                  
                  <td>
                    <%= f.label :Type %>
                      <h3><i class="fa fa-align-justify"></i> 
                          <%= f.select :typ, options_for_select([["movable",'Movable'],["fixed",'Fixed']]), :prompt => "select type of asset" %>
                  </td>
                </tr>
                
                <tr>
                  <td>
                    <%= f.label :Location %>
                      <h3><i class="fa fa-map-marker"></i>
                        <%= f.select(:locat, location_for_select, :prompt => 'Select') %>
                  <td>
                  <td>
        
                  </td>
              </tr>
              <tr>
                <td>
                 <%= f.label :Approximate_Cost %>
                  <h3><i class="fa fa-phone"></i>
                  <%= f.text_field :cost %></h3>
               </td>
                
                <td>
                    <%= f.submit "Save", class: "btn btn-success"  %>
                </td>
                    
              </tr>
            </table>

<% end %>

</div>
 
