<div class = "container">
    
      <div class = "well">
         <p style = "font-size:20pt;color: MidnightBlue; align: left"><i class="fa fa-plus-square-o"></i><i><b>ADD ASSETS</b></i></p>
   <hr class="colorgraph">
        <d class ="red">
          <%= render "error" %>
        </d>
      </div>
      <%= form_for(@realasset) do |f| %>
       
              <table width="700">
                <tr>
                  <td>
                    <%= f.label :Asset_Name, :style => "color:  #005C1F; font-size: 12pt; font-weight: bold;" %>
                      <h3 style = "color: #005C1F; font-size: 12pt; font-weight: bold"><i class="fa fa-laptop fa fa-2x"></i>
                          <%= f.text_field :name %>
                      </h3>
                  </td>
                  
                  <td>
                    <%= f.label :Type, :style => "color:  #005C1F; font-size: 12pt; font-weight: bold;" %>
                      <h3 style = "color:  #005C1F; font-size: 12pt; font-weight: bold"><i class="fa fa-align-justify fa fa-2x"></i> 
                          <%= f.select :typ, options_for_select([["movable",'Movable'],["fixed",'Fixed']]), :prompt => "select type of asset", :style => "color:  #005C1F; font-size: 12pt; font-weight: bold;" %></h3>
                  </td>
                </tr>
                
                <tr>
                  <td>
                    <%= f.label :Location , :style => "color:  #005C1F; font-size: 12pt; font-weight: bold;"%>
                      <h3 style= "color:  #005C1F; font-size: 12pt; font-weight: bold"><i class="fa fa-map-marker fa fa-2x"></i>
                        <%= f.select(:locat, location_for_select, :prompt => 'Select',  :style => "color:  #005C1F; font-size: 12pt; font-weight: bold;") %></h3>
                  </td>
                   <td>
                 <%= f.label :Approximate_Cost, :style => "color:  #005C1F; font-size: 12pt; font-weight: bold;" %>
                  <h3 style = "color:  #005C1F; font-size: 12pt; font-weight: bold"><i class="fa fa-phone fa fa-2x"></i>
                  <%= f.text_field :cost, :style => "color:  #005C1F; font-size: 12pt; font-weight: bold;" %></h3>
               </td>
                  </tr>
              <tr>
               
                </tr>
                <tr>
                  <td>
                  </td>
                <td>
                   <%= f.submit "Save", class: "btn btn-success" , :style => "color: white; font-size: 12pt; font-weight: bold;" %>
                 </td>
                    
              </tr>
            </table>
<% end %>
<hr class="colorgraph">
</div>