
        <a class ="red">
          <% if @location.errors.any? %>

<div id="error_explanation">
<h2><%= pluralize(@location.errors.count, "error") %>
prohibited this <%= @location.class.to_s.underscore.humanize.downcase %>
from being saved:</h2>
<p>There were problems with the following fields:</p>
<ul>
<% @location.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
        </a>
    
<%= form_for(@location) do |f| %>
<%= f.label :name_of_location %>

			<%= f.text_field :location %>
		
			<%= f.submit "Add" %>
		
<% end %>