<%if authorize_signed_in? || emp_signed_in? || hr_signed_in? %>
<div class = "container">
<d class = "red">
<% if @location.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@location.errors.count, "error") %>
prohibited this <%= @location.class.to_s.underscore.humanize.downcase %>
from being saved:</h2>
<p>There were problems with the following fields:</p>
<ul>
<% @location.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
</d>
  
 <p style = "font-size:20pt;color: MidnightBlue"><i><b>ADD LOCATION</b></i></p>
	 <hr class="colorgraph">   
<%= form_for(@location) do |f| %>
<table>
	<tr>
	<td>
	<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
			<%= f.text_field :location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>
		</tr>
		<tr>
		
			<td><%= f.submit "Add", :class => "btn btn-success", :style => "color: white; font-size: 12pt; font-weight: bold;" %></td>
		</tr>
	</table>
		
<% end %>
</div>
<%else%>
<div class="col-sm-6 col-md-6">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="fa fa-hand-right"></span> <strong>Alert..!!</strong>
                <hr class="message-inner-separator">
                <p>
                    You are not authorized to view this page.</p>
            </div>
        </div>
        <%end%>