<div class = "container">
<d class = "red">
<% if @location.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@location.errors.count, "error") %>
prohibited this <%= @location.class.to_s.underscore.humanize.downcase %>
from being saved:</h2>
<p>There were problems with the following fields:</p>
<ul>
<% @location.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
</d>
  
 <h3>Add Location</h3>   
<%= form_for(@location) do |f| %>

<table><tr><td><%= f.label :Name_of_location %></td><td>

			<%= f.text_field :location %></td>
		
			<td><%= f.submit "Add", :class => "btn btn-success" %></td></tr></table>
		
<% end %>
</div>