<!DOCTYPE html>
<html>
    <head>
        <%= favicon_link_tag '/assets/favicon.ico' %>
        <title>Marck Biosciences Ltd.</title>
        <%=stylesheet_link_tag 'bootstrap',:media=>'screen'%>
        <%=javascript_include_tag "application" %>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <%=csrf_meta_tags %>
    </head>
    
    <body >
        <!--START OF MAIN-BODY-->
       
        <!--NAV BAR FIXED-TOP-->
       <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container"> 
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                       
                    </a>
                    <a class="brand" href=""> <%= image_tag("logo.png", :alt => "#", :class => "round" , :width => "20") %>Marck BioScience 
                    </a>

                    <div class="nav-collapse">
                         <ul class="nav nav-tabs">
                             <li>
                                 <%=link_to "HOME", home_path %>
                             </li>

                         <!-- IF-LOOP STARTS -->
                             <% if signed_in? %>
                                 <li>
                                    <%=link_to "SIGNOUT",destroy_authorize_session_path, :method=>:delete ,:data => { confirm: 'Are you sure?' } %>
                                 </li>
                            <!--INNER IF LOOPS STARTS-->
                                 <% if hr_signed_in? %>
                                        <%= render 'layouts/hr' %>  
                                 <% elsif authorize_signed_in? %>
                                        <%= render 'layouts/aut' %>
                                <% else %>
                                        <%= render 'layouts/emp' %>
                                <% end %>
                                            <!--INNER IF-LOOP ENDS-->
                    <% else %>
                                                    <li>
                                                        <div class="dropdown"> <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="#"><i class="fa fa-user fa-fw"></i>SIGNIN <span class="caret"></span>
                                                     </a>

                                                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                                <li><a tabindex="#"><%= link_to "Authorize person", alogin_path %></a>
                                                                </li>
                                                                <li><a tabindex="#"> <%= link_to "Employee", elogin_path %></a>
                                                                </li>
                                                                <li><a tabindex="#"><%= link_to "General manager", hlogin_path %></a>
                                                                </li>
                                                            </ul>
                                                            <br/>
                                                        </div>
                                                    </li>
                                                    
                                                    <% end %>
                                        <!--IF-LOOP ENDS-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- NAV-BAR FIXED TOP ENDS-->
 <%= render 'layouts/flash' %>       
        <!--THIS IS THE YIELD -->
        <%=yield %>
        <!-- END OF YIELD-->
                    
                    <hr>
                <!-- FOOTER -->
                    <div class="clearfix"></div>
                    <div class="container-fluid m-t-large">
                        <footer>
                            <center>
                                <p> <span class="pull-left">© Copyright <a href="" target="_blank"> Marck Biosciences Ltd.</a> 2014</span>
 <span class="hidden-phone pull-right">Created by <a href="#">PANDYA SOFTWARE</a></span>

                                </p>
                                <p>
                                    <table>
                                        <tr>
                                            <ul>
                                                <td>
                                                    <li>
                                                        <%=link_to "--HELP", help_path %>
                                                    </li>
                                                </td>
                                                <td>
                                                    <li>
                                                        <%=link_to "--CONTACT", contact_path %>
                                                    </li>
                                                </td>
                                                <td>
                                                    <li>
                                                        <%=link_to "--ABOUT",about_path %>
                                                    </li>
                                                </td>
                                                <td>
                                                    <li>
                                                        <%=link_to "--DEVELOPER" ,developer_path %>
                                                    </li>
                                                </td>
                                            </ul>
                                        </tr>
                                    </table>
                                </p>
                            </center>
                        </footer>
                    </div>
                    <!-- END OF THE FOOTER-->
            
    </body>

</html>