<!DOCTYPE html>
<html>
    <head>
        <%= favicon_link_tag '/assets/favicon.ico' %>
        <title>Marck Biosciences Ltd.</title>
        <%=stylesheet_link_tag 'bootstrap',:media=>'screen'%>
        <%=javascript_include_tag "application" %>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <%=csrf_meta_tags %>
    </head>
    
    <body>
       <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container"> 
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class = "icon-bar"><span>
                    </a>
                    <a class="brand" href=""> <%= image_tag("logo.png", :alt => "#", :class => "round" , :width => "20") %>Marck BioScience 
                    </a>

                    <div class="nav-collapse">
                         <ul class="nav nav-tabs">
                             <li>
                                 <%=link_to "HOME", home_path %>
                             </li>
                         
                             <% if signed_in? %>
                                 <li>
                                    <%=link_to "SIGNOUT",destroy_authorize_session_path, :method=>:delete ,:data => { confirm: 'Are you sure?' } %></li>
                                 
                                 <% if hr_signed_in? %>
                                      <li>
                                            <%=link_to "Dashboard", hmain_path %>
                                      </li>
                                    
                                        <ul class="nav pull-right">
                                            <li>
                                                <div class="dropdown"><a id="dLabel" role="button" class="btn btn-primary" data-target="#" href="#"><i class="fa fa-money"></i> Budget 
                                             </a>
                                            </li>
                                            </div>
                                        </ul>
                                  
                                   <% elsif authorize_signed_in? %>
                                              <ul class="nav nav-tabs">
                                             <li>
                                                        <%=link_to "DASHBOARD" , amain_path %>
                                             </li>
                                         </ul>
                                        
                                        <% else %>
                                            <li>
                                                <%=link_to "DASHBOARD" , emain_path %>
                                            </li>
                                            
                                            <% end %>
                                             
                                                   
                                                 </div>


                                                <% else %>
                                                    <li>
                                                        <div class="dropdown"> <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="#"><i class="fa fa-user fa-fw"></i>SIGN_IN_AS <span class="caret"></span>
                    </a>

                                                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                                <li><a tabindex="#"><%= link_to "Authorize person", alogin_path %></a>
                                                                </li>
                                                                <li><a tabindex="#"> <%= link_to "Employee", elogin_path %></a>
                                                                </li>
                                                                <li><a tabindex="#"><%= link_to "General manager", hlogin_path %></a>
                                                                </li>
                                                            </ul>
                                                            <br/>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="dropdown"><a id="dLabel" role="button" class="btn btn-warning" data-target="#" href="/emps/sign_up"><i class="fa fa-plus"></i><i class="fa fa-user fa-fw"></i>New Employee 
             </a>
                                                    </li>
                                                    <% end %>
                        </ul>
                        </div>
                    </div>
                </div>
                 <% flash.each do |type, message| %>
       <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
        <% if hr_signed_in? %>
         <center>welcome general manager <%= current_hr.username %></center>
         <% elsif authorize_signed_in?%>
          <center>Wellcome back <%= current_authorize.username %>, You have signed in <%= current_authorize.sign_in_count %> times.</center> 
            <% elsif emp_signed_in? %>
             Wellcome back <%= current_emp.username %>, You have signed in <%= current_emp.sign_in_count %> times.
             <% else%>
             not authorize
         <%end%>
        </div>
<% end %>
                
                <%=yield %>
                    <hr>
                    <div class="clearfix"></div>
                    <div class="container-fluid m-t-large">
                        <footer>
                            <center>
                                <p> <span class="pull-left">© Copyright <a href="" target="_blank"> Marck Biosciences Ltd.</a> 2014</span>
 <span class="hidden-phone pull-right">Created by <a href="#">PANDYA SOFTWARE</a></span>

                                </p>
                                <p>
                                    <table>
                                        <tr>
                                            <ul>
                                                <td>
                                                    <li>
                                                        <%=link_to "-HELP", help_path %>
                                                    </li>
                                                </td>
                                                <td>
                                                    <li>
                                                        <%=link_to "-CONTACT", contact_path %>
                                                    </li>
                                                </td>
                                                <td>
                                                    <li>
                                                        <%=link_to "-ABOUT",about_path %>
                                                    </li>
                                                </td>
                                                <td>
                                                    <li>
                                                        <%=link_to "-DEVELOPER" ,developer_path %>
                                                    </li>
                                                </td>
                                            </ul>
                                        </tr>
                                    </table>
                                </p>
                            </center>
                        </footer>
                    </div>
            </div>
    </body>

</html>