<!DOCTYPE html>
<html>
<head>
  <title>Boot</title>
  <%= stylesheet_link_tag 'bootstrap',:media => 'screen'%>
  <%= javascript_include_tag "application" %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
 </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class = "icon-bar"><span>
                    </a>
                    
                    <a class="brand" href= "">Marck BioScience </a>
                      <div class="nav-collapse">
                          <ul class="nav nav-tabs">
                              <li><%= link_to "HOME", home_path %></li>
                              <li><%= link_to "HELP", help_path %></li>
                              <li><%= link_to "CONTACT", contact_path %></li>
                              <li><%= link_to "ABOUT",about_path %></li>
                              <li><%= link_to "DEVELOPER" ,developer_path %> </li>
     
      <% if signed_in? %>
                <li><%= link_to "SIGNOUT",destroy_authorize_session_path, :method => :delete ,:data => { confirm: 'Are you sure?' }  %></li>
          <% else %>
              <li> <div class="dropdown">
             <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="#"><i class="fa fa-user fa-fw"></i>SIGN_IN_AS <span class="caret">
             </span>
             </a>
              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              
            
                        
                       <li><a tabindex="#"  ><%= link_to "Authorize person", new_authorize_session_path %></a></li>
                         <li><a tabindex="#" > <%= link_to "Employee", new_employe_session_path %></a></li>

                           <li><a tabindex="#"  ><%= link_to "General manager", new_hr_session_path %></a></li>
              
             
                </ul>
              </div>
            </li>
      <% end %>
     
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
    
    <%= yield %>
</body>
</html>
